# OS and IDE
.DS_Store
.idea
.vscode/*
*.suo
*.sln
*.sw?

# Dependencies
node_modules
.pnp
.pnp.js

# Build and Production Artifacts
dist
dist-ssr
build
.strapi
.vite
.tmp
.cache
public/uploads
**/.__mf__temp
apps/backend/.strapi-updater.json


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
apps/e2e/playwright-report/index.html
apps/e2e/test-results/.last-run.json
tests/e2e/playwright-report/index.html
tests/e2e/test-results/.last-run.json

# Environment and Secrets
.env
.env.local
.env.*.local
!.env.example
*.local

# Project Specific
**/public/*.xml
apps/backend/.strapi-updater.json
apps/backend/.strapi-cloud.json
audit_report.json
audit.json
