@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* React Flow Edge Selection */
.react-flow__edge.selected .react-flow__edge-path {
  stroke: #e95d00 !important;
  stroke-width: 3px !important;
}